{% extends "base.html" %}

{% block title %} Events {% endblock %}

{% block content %}
    <div class="text-center m-5">
        <h1>All Events</h1>
    </div>


<div class="row row-cols-1 row-cols-md-5 g-3" >
{% for event in events %}
    <div class="col">
        <div class="card h-100">
            <h5 class="card-title m-2 text-center">{{ event.name }} ({{ event.code }})</h5>
                <p class="card-text m-2">
                    <b>Date:</b> {{ event.startDate }} <br>
                    <b>Teams:</b> {{ event.teams.count }} <br>
                    <b>Location:</b> {{ event.location }} <br>
                    <b>Contact:</b> {{ event.contact.username }}
                </p>
            <a href="/event/{{ event.season }}/{{ event.code }}" class="btn btn-primary m-2"><i class="bi bi-calendar-event-fill"></i> Open Event</a>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}